/* Local Directory fonts */

/* sans pro semibold  Primary fonts*/
@font-face {
  font-family: 'Sans pro Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Sans pro Semibold'), local('Sans-pro-Semibold'),
       url('../fonts/sans_pro/sanspro-semibold.ttf') format('truetype'),/* Safari, Android, iOS */
       url('../fonts/sans_pro/sanspro-semibold.eot');
}

/* sans pro semibold  Primary fonts*/
@font-face {
  font-family: 'Sans Pro Semibold Italic';
  font-style: italic;
  font-weight: 600;
  src: local('Sans pro Semibold Italic'), local('Sans-pro-Semibold-Italic'),
       url('../fonts/sans_pro/sanspro-semibold-italic.ttf') format('truetype'),/* Safari, Android, iOS */
       url('../fonts/sans_pro/sanspro-semibold-italic.eot');
}

/* sans pro black Primary fonts*/
@font-face {
  font-family: 'Sans Pro Black';
  font-style: normal;
  font-weight: 900;
  src: local('Sans Pro Black'), local('Sans-Pro-black'),
       url('../fonts/sans_pro/sanspro-black.ttf') format('truetype'),/* Safari, Android, iOS */
       url('../fonts/sans_pro/sanspro-black.eot');
}

/* sans pro regular Secondary fonts*/
@font-face {
  font-family: 'Sans Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Sans pro Regular'), local('Sans-pro-regular'),
       url('../fonts/sans_pro/sanspro-regular.ttf') format('truetype'),/* Safari, Android, iOS */
       url('../fonts/sans_pro/sanspro-regular.eot');
}

/* sans pro regular Secondary fonts*/
@font-face {
  font-family: 'Sans Pro Regular Italic';
  font-style: italic;
  font-weight: 400;
  src: local('Sans Pro Regular Italic'), local('Sans-Pro-Regular-Italic'),
       url('../fonts/sans_pro/sanspro-regular.ttf') format('truetype'),/* Safari, Android, iOS */
       url('../fonts/sans_pro/sanspro-regular.eot');
}

/* sans pro regular Secondary fonts*/
@font-face {
  font-family: 'Sans Pro Regular bold';
  font-style: normal;
  font-weight: 700;
  src: local('Sans Pro Regular bold'), local('Sans-Pro-Regular-bold'),
       url('../fonts/sans_pro/sanspro-bold.ttf') format('truetype'),/* Safari, Android, iOS */
       url('../fonts/sans_pro/sanspro-bold.eot');
}

/* icomoon font */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?c1j37e');
  src:  url('../fonts/icomoon/icomoon.eot?c1j37e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?c1j37e') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?c1j37e') format('woff'),
    url('../fonts/icomoon/icomoon.svg?c1j37e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* icomoon font */
@font-face {
  font-family: 'icomoon maps';
  src:  url('../fonts/icomoon/map_fonts/icomoon.eot?c1j37e');
  src:  url('../fonts/icomoon/map_fonts/icomoon.eot?c1j37e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/map_fonts/icomoon.ttf?c1j37e') format('truetype'),
    url('../fonts/icomoon/map_fonts/icomoon.woff?c1j37e') format('woff'),
    url('../fonts/icomoon/map_fonts/icomoon.svg?c1j37e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
