.header--cta {
  position: relative;
  display: none;

  @media #{$desktop} {
    display: inline-block;
  }
  .button--primary {
    &:after {
      max-width: 95px;
    }
  }
  a {
    font-size: calc-rem(17px);
    line-height: 1.75rem;
    text-decoration: none;
  }
}
